/* Basic reset */
* {
margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #2E5077;
    --second-color: #4DA1A9;
    --error-color: #e62d2d;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background: var(--main-color);
}

/* Container for login and signup forms */
.form-container {
    width: 100%;
    max-width: 340px;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.form-container h2 {
    color: #333;
    margin-bottom: 1.5rem;
}

/* Toggle buttons */
.toggle-buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.toggle-buttons button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #ddd;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}

/* Form styling */
.form-group {
    margin-bottom: 1.2rem;
    text-align: left;
}

.form-group label {
    font-size: 0.9rem;
    color: #555;
    text-align: left;
}

.form-group input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 0.3rem;
    font-size: 1rem;
}

.form-group input:focus {
    outline: none;
    border-color: var(--main-color);
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.2);
}

/* Submit button */
.submit-button {
    width: 100%;
    padding: 0.8rem;
    background-color: var(--second-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
}

.submit-button:hover {
    background-color: var(--main-color);
}

/* Error message */
.error-message {
    color: var(--error-color);
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 1rem;
    display: none;
}

.switch-link {
    margin-top: 20px;
}